<div [class.can-hover]="!disableGrid" class="card" [class.not-hovered]="!hovered"  [class.hovered]="hovered" (mouseenter)="onCardMouseEnter()" (mouseleave)="onCardMouseLeave()">
  <div
    class="image-container"
    [style.background-image]="'url(' + box.imageUrl + ')'"
  >
    <img class="box-image" [src]="getCommonImage()" />
  </div>
  <div class="break-line"></div>
  <div class="box-title">
    <h1>{{ addSpacesToPascalCase(box.boxName) }}</h1>
    <div class="custom-tooltip">
      {{ box.description }}
    </div>
  </div>
  <div class="box-info">
    <div class="front-face">
      <div class="box-description">
        <h2>{{ box.description }}</h2>
      </div>
    </div>
    <div class="back-face">
      <p class="box-content-header">Content</p>

      <div class="box-content-images">
        <ng-container *ngFor="let contentItem of contentArray">
          <ng-container
            *ngIf="getContentImage(contentItem).startsWith('/assets/img')"
          >
            <div class="content-image-container">
              <img
                class="content-image"
                [src]="getContentImage(contentItem)"
                alt="{{ contentItem }}"
              />
              <div class="custom-tooltip">
                {{ addSpacesToPascalCase(contentItem) }}
              </div>
            </div>
          </ng-container>
          <ng-container
            *ngIf="!getContentImage(contentItem).startsWith('/assets/img')"
          >
            <div class="emoji-container">
              <span class="emoji">{{ getContentImage(contentItem) }}</span>
              <div class="custom-tooltip">
                {{ addSpacesToPascalCase(contentItem) }}
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class="box-additional-info">
        <p [style.margin-bottom]="'5px'">Weight: {{ box.weight }} lb</p>
        <p>Dimensions: {{ box.dimensions }} cm</p>
      </div>
    </div>
  </div>
  <div class="box-buy">
    <button color="accent" (click)="addItemToCart()" class="ignore-click card-button">
      Add To Cart
    </button>
    <p>Price: {{ box.price }}$</p>
  </div>
</div>
