<div id="shipping-details">
    <div>
        <span class="bold">To </span>
        {{name}}
    </div>
    <div>
        <span class="bold">Email </span>
        {{email}}
    </div>
    <div>
        <span class="bold">Shipping Address </span>
        {{shippingAddress}}
    </div>
    <div>
        <span class="bold">Billing Address </span>
        {{billingAddress}}
    </div>
    <div>
        <span class="bold">Zip Code </span>
        {{zipCode}}
    </div>
    <div>
        <span class="bold">Country </span>
        {{country}}
    </div>
</div>
<div id="messages">
    <div *ngIf="instructions !== null">
        <span class="bold">Delivery Instructions</span>
        <div class="greyOutline">
            <p>{{instructions}}</p>
        </div>
    </div>
    <div *ngIf="giftMessage !== null">
        <span class="bold">Gift Message</span>
        <div class="greyOutline">
            <p>{{giftMessage}}</p>
        </div>
    </div>
</div>
<div id="cost-details">
    <div class="split">
        <span>Order</span>
        <span>{{orderCost}}</span>
    </div>
    <div class="greyOutline">
        <mat-list role="list">
            <mat-list-item *ngFor="let box of orderContent">
                <span class="bold">{{box.boxName}}</span> x {{box.quantity}}
            </mat-list-item>
        </mat-list>
    </div>
    <div class="split">
        <span>Shipping</span>
        <span>{{shippingRate}}</span>
    </div>
    <div class="split">
        <span class="bold">Total</span>
        <span class="bold">{{totalCost}}</span>
    </div>
</div>