<div #cartSidebar class="sidebar" [class.open]="cartOpen">
  <div class="sidebar-header">
    <div class="header-text-container">
      <h1 class="sidebar-header-text">Your Cart</h1>
    </div>
    <div class="close-button-container">
      <button class="sidebar-header-close-button" (click)="toggleSidebar()">
        <h1>X</h1>
      </button>
    </div>
      
  </div>
  <ul class="cart-list">
    <li><div style="margin-bottom: 10px;"> </div><app-cart-item (addCartItem)="addItem($event)" (deleteCartItem)="deleteItem($event.box, $event.deleteFully)" *ngFor="let box of boxes" [@itemAnimation]="'in'" [box]="box"></app-cart-item></li>
  </ul>
  <div class="sidebar-checkout-btn">
    <button>Checkout</button>
  </div>
</div>
