.sidebar {
    position: fixed;
    top: 0;
    
    right: -350px;
    width: 350px; 
    height: 100%;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 0 0px rgba(0, 0, 0, 0); 
    transition: right 0.3s ease-in-out, box-shadow 0.4s ease-in-out;;
  }

  .sidebar.open {
    box-shadow: -50px 0 100px rgba(0, 0, 0, 0.3); 
    right: 0px; 
  }

  .sidebar-header {
    display: flex;
    align-items: center;
    top: 0;
    background-color: black;
    height: 100px;
  }
  
  .sidebar-header-text {
    position: absolute;
    left: 105px;
    color: white;
    height: 20px;

  }
  
  .sidebar-header-close-btn {
    position: absolute;
    right: 20px;
    height: 20px;
    
    
  }
  
  .sidebar ul {
    position: relative;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    max-height: 90%;
    overflow-y: auto;
  }

  .sidebar-checkout-btn{
    display: flex;
    justify-content: center;
  }