<div id="cardContainer">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Scandinavian Countries</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form #editRateScandinaviaForm="ngForm" (ngSubmit)="onSubmitScandinavia(editRateScandinaviaForm)">
                <div class="split">
                    <mat-form-field>
                        <mat-label>Rate</mat-label>
                        <input matInput required [ngModel]="scandinaviaShippingRate" name="shippingRate"
                        #scandinavianRate type="number" [placeholder]="'Current: ' + scandinaviaShippingRate"
                        min="0.01">
                    </mat-form-field>
                    <!-- disabled if value is the original value, no value is given or less than 0.01 -->
                    <button mat-flat-button color="accent"
                    type="submit" [disabled]="(scandinaviaShippingRate === scandinavianRate.valueAsNumber
                    || editRateScandinaviaForm.invalid)">Save</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    
    <mat-card>
        <mat-card-header>
            <mat-card-title>Other Countries</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form #editRateForm="ngForm" (ngSubmit)="onSubmit(editRateForm)">
                <mat-form-field class="fullWidth">
                    <mat-label>Select country</mat-label>
                    <mat-select #country name="country" ngModel>
                        <mat-option *ngFor="let country of countries"
                        [value]="country">{{country.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="split">
                    <mat-form-field>
                        <mat-label>Rate</mat-label>
                        <input matInput required [ngModel]="country.value?.shippingRate" name="shippingRate"
                        #rate type="number" [disabled]="!country.value" [placeholder]="'Current: ' + country.value?.shippingRate"
                        min="0.01">
                    </mat-form-field>
                    <!-- disabled if value is the original value, no value is given, value is lower than the scandinavian rate
                    or less than 0.01 -->
                    <button mat-flat-button color="accent" type="submit"
                    [disabled]="(country.value?.shippingRate === rate.valueAsNumber || editRateForm.invalid ||
                    rate.valueAsNumber <= scandinaviaShippingRate! || !country.value)"
                    >Save</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
