@import 'src/app/pages/profile/profile.page.scss';


.shipment-card{
    
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 1000px;

    max-height: 500px;

    


}

.shipment-header{
    font-weight: bold;
    padding: 0;
    margin: 0;

    padding: 10px;
}


.test{
}

.shipment-list{
   width: 100%;
   margin: 0;
   padding: 0;
   margin-bottom: 30px;
   
   overflow-y: auto;
   overflow-x: hidden;



}
