@import 'src/app/pages/profile/profile.page.scss';


.claim-card{
    margin: auto;
    padding: 20px;
    width: 100%;
    max-height: 300px;
}

.claim-card h6{
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
}