#item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border: 2px solid lightgrey;
    border-radius: 7px;
}

.bold {
    font-weight: 500;
}

img {
    width: 50px;
}