@import 'src/styles.scss';
// #container {
//     top: 100px; // height of nav
// }

mat-nav-list {
    padding: 0;
}

.link {
    .link-icon {
        margin-right: 5px;
    }
    
    .link-icon, .link-title {
        vertical-align: middle;
    }
}

.active {
    background-color: $blue;

    .link-icon {
        color: white;
    }

    .link-title {
        color: white;
    }
}

.admin-header{
    width: 100%;
    height: 40px;
    background-color: $blue;
}