<mat-toolbar  class="content" [class.open]="cartOpen" color="primary">
  <h1 class="title-text" routerLink="/">Boxinator</h1>

  <!--Toolbar if actual user-->
  <ng-container *ngIf="authService.currentUser$ | async as user; else noUser">
    <div>
      <ng-container *ngIf="!user.isAnonymous else noUser">
        <!--User Profile button menu-->
        <button mat-button [matMenuTriggerFor]="userMenu">
          {{ user.displayName }}
          <mat-icon>account_circle</mat-icon>
          <mat-icon>expand_more</mat-icon>
        </button>
        <!--Cart button-->
        <ng-container *ngIf="isOnHomePage()" [ngTemplateOutlet]="cartButtonTemplate"></ng-container>
      </ng-container>
    </div>
  </ng-container>

  <!--Toolbar if guest user-->
  <ng-template #noUser>
    <div>
      Guest
        <!--Login button-->
      <ng-container *ngIf="isOnSignUpPage() || isOnHomePage()">
        <button mat-button routerLink="login">
          <mat-icon>login</mat-icon>
        </button>
      </ng-container>
      <!--Sign up button-->
      <ng-container *ngIf="isOnLoginPage() || isOnHomePage()">
        <button mat-button routerLink="signup">
          <mat-icon>follow_the_signs</mat-icon>
        </button>
      </ng-container>
      <!--Cart button-->
      <ng-container *ngIf="isOnHomePage()" [ngTemplateOutlet]="cartButtonTemplate"></ng-container>
    </div>
  </ng-template>

</mat-toolbar>

<!--Cart-->
<div class="cart-container">
  <app-cart (cartAmountChange)="setCartAmount($event)" (cartOpenChange)="onCartOpenChange($event)" *ngIf="isOnHomePage()" #cart></app-cart>
</div>

<!--Main Content-->
<div class="content" [class.open]="cartOpen" >
  <router-outlet></router-outlet>
</div>

<!--Templates/Menu Options-->

<!--Options in user profile menu-->
<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>

  <!--Template for Cart button-->
<ng-template #cartButtonTemplate>
  <button mat-button  class="ignore-click" (click)="toggleCart()">        
    <mat-icon>shopping_cart</mat-icon>
    <div class="cart-amount" *ngIf="cartAmount > 0">
      <p  [style.font-size.em]="cartAmount > 99 ? 0.6 : 0.9" >{{ cartAmount > 99 ? '99+' : cartAmount }}</p>
    </div>
  </button>
</ng-template>
