
$blue: #34AFF7;

mat-toolbar {
    justify-content: space-between;
    height: 100px;
}

.mat-toolbar.mat-primary {
  background: $blue;
}

.smaller-mat-buttons {
  width: 40px!important;
  height: 40px!important;
  min-width: unset!important;
}

.title-text{
  user-select: none;
  cursor: pointer;
}

.content {
    transition: width 0.3s ease-in-out; 

  }

.content.open {
    width: calc(100% - 375px); 
  }

  .cart-amount{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 20px;
  }

  .cart-amount p {
    margin-top: 12px;
  }
  $orange: #FE9D35;

  .toolbar-logo{
    margin-left: 15%;
  }

  .toolbar-user-buttons{
    margin-right: 15%;
    color: orange;

  }

  .toolbar-guest-buttons{
    margin-right: 15%;

  }

  .toolbar-user-buttons mat-icons{
    color: orange;


  }


  