@import 'src/styles.scss';

.title-text{
  user-select: none;
  cursor: pointer;
}

.content {
    transition: width 0.3s ease-in-out; 

  }

.content.open {
    width: calc(100% - 375px); 
  }




  