<mat-toolbar color="primary">
  Test Login Form with Firebase

  <ng-container *ngIf="authService.currentUser$ | async as user; else noUser">
    <div>
      <ng-container *ngIf="!user.isAnonymous else noUser">
        <button mat-button [matMenuTriggerFor]="userMenu">
          {{ user.displayName }}
          <mat-icon>account_circle</mat-icon>
          <mat-icon>expand_more</mat-icon>
        </button>
        <button mat-button (click)="toggleCart()">Open Cart</button>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #noUser>
    <div>
      Guest User
      <ng-container *ngIf="isOnSignUpPage() || isOnHomePage()">
        <button mat-button routerLink="login">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </ng-container>

      <ng-container *ngIf="isOnLoginPage() || isOnHomePage()">
        <button mat-button routerLink="signup">
          <mat-icon>follow_the_signs</mat-icon>
          Sign up
        </button>
      </ng-container>
      <button mat-button (click)="toggleCart()">Open Cart</button>
    </div>
  </ng-template>

</mat-toolbar>


<div class="cart-container">
  <app-cart #cart></app-cart>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
