<div #cartSidebar class="sidebar ignore-click" [class.open]="cartOpen">
  <div class="sidebar-header">
    <div class="header-text-container">
      <h1 class="sidebar-header-text">Your Cart</h1>
    </div>
    <div class="close-button-container">
      <button class="sidebar-header-close-button" (click)="toggleSidebar()">
        <h1>X</h1>
      </button>
    </div>
      
  </div>
  <ul class="cart-list">
    <li>
      <p class="empty-cart-text" [ngStyle]="{ 'opacity': boxes.length > 0 ? 0 : 1, 'margin-top.px': boxes.length === 0 ? 10 : 0, 'transition': boxes.length === 0 ? 'opacity 0.3s ease' : 'opacity 0s linear'}">
        Empty Cart</p>
      <app-cart-item (addCartItem)="addItem($event)" (deleteCartItem)="deleteItem($event.box, $event.deleteFully)" *ngFor="let box of boxes" [@itemAnimation]="'in'" [box]="box"></app-cart-item>
    </li>
  </ul>
  <div [class.disabled]="!(getTotalPrice() > 0)" class="sidebar-checkout">
    <button >Checkout</button>
    <p [ngStyle]="{ 'opacity': boxes.length > 0 ? 1 : 0}">Total: {{ getTotalPrice() | number: '1.2-2' }}$</p>
  </div>
</div>
