<div id="cardContainer" class="">
    <div class="grid-container">
        <div #frozenItems [class.frozen]="isFrozen" class="frozen-items-container">
            <app-box-item  [class.hover]="!disableGrid" #boxItem *ngFor="let box of boxes" [box]="box"></app-box-item>
         </div>
        <div [class.frozen]="isFrozen || gridRowCount != oldGridRowCount || gridColumnCount != oldGridColumnCount" #grid class="grid">
            <app-box-item #boxItem *ngFor="let box of boxes" [box]="box" [disableGrid]="disableGrid"></app-box-item>
        </div>
     
    </div>
</div>