<div mat-dialog-content>
    <form>
        <div class="split">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput value="{{box.boxType}}">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Price</mat-label>
                <input matInput value="{{box.price}}">
            </mat-form-field>
        </div>
        <mat-form-field class="fullWidth">
            <mat-label>Image URL</mat-label>
            <input matInput value="{{box.imageUrl}}">
        </mat-form-field>
        <mat-form-field class="fullWidth">
            <mat-label>Description</mat-label>
            <textarea matInput value="{{box.description}}"></textarea>
        </mat-form-field>
        <mat-form-field class="fullWidth">
            <mat-label>Content</mat-label>
            <textarea matInput value="{{box.content}}"></textarea>
        </mat-form-field>
        <div class="split">
            <mat-form-field>
                <mat-label>Surprise Element 1</mat-label>
                <input matInput value="Something 1">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Surprise Element 2</mat-label>
                <input matInput value="Something 2">
            </mat-form-field>
        </div>
        <div class="split btn-split">
            <button mat-stroked-button [mat-dialog-close]>Cancel</button>
            <button mat-flat-button [mat-dialog-close] color="accent">Save</button>
        </div>
    </form>
</div>
