$blue: #34AFF7;

div[mat-dialog-content] {
    background-color:$blue !important; 
}

#price {
    width: 140px;
}

.rowGap {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.fullWidth {
    width: 100%;
}

.btn-split {
    gap: 100px;
    justify-content: center;
}

#cancel {
    color: white;
}